@model MvcCacheRedis.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<a asp-controller="Productos"
    asp-action="SeleccionarFavorito"
    asp-route-id="@Model.IdProducto">
    <img src="~/images/favorite.png" style="width:40px; height: 40px"/>
</a>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" style="width: 350px; height: 300px"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Productos">Back to List</a>
</div>
